
.result-grid {
	.result-tile {
		width: 19%;
		float: left;
		text-align: center;
		min-height: 300px;
		border: 1px solid #000;
		.date {
			margin: 25px 0;
			font-size: 18px;
		}
		.icon-holder {

		}
		.icon-01d{

		}
		.icon-01n {
		
		}
	}
	.fa {
		margin-right: 10px;
	}
}

