.link-container {
  margin-top: 0;
  background: grey;
  display: inline-block; }
  .link-container li {
    color: #fff;
    list-style: none;
    display: inline-block;
    margin: 30px 20px; }
    .link-container li .fa {
      margin-right: 10px; }
